# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# PyCharm / JetBrains IDE
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
