{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style%}
<style>
    .person_pic {
border-radius: 50%;
width: 200px;
height: 200px;
}
    body {
    background-color: #F9E7B2
    }
    .flower {
    border-radius:50%;
    width: 200px;
    height: 200px;
    }
</style>

{% endblock %}

{% block content %}
<!-- Adding Flash message here -->
      <div class="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="flash flash-{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="px-4 py-5 my-5 text-center"><img class="d-block mx-auto mb-4 person_pic"
                                             src="{{ url_for('home_bp.static', filename = 'images/IMG_4991.jpeg') }}" alt="" width="100"
                                             height="100">
    <h1 class="display-5 fw-bold text-body-emphasis">Personal Projects</h1>

    <div class="d-flex align-items-center justify-content-center">

    <img src="{{ url_for('home_bp.static', filename='images/flower.png') }}" alt="flower" width="100" height="100" class="me-3 flower">

    <p class="lead mb-4 text-start col-lg-6">
        This is my project portfolio website. It contains some of the projects that I have made through my
        website development journey. These Projects are a mix of websites and scripts. Please enjoy!!
    </p>

    <img src="{{ url_for('home_bp.static', filename='images/flower.png') }}" alt="flower" class="ms-3 flower">
</div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('projects_bp.projects') }}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="h3q719">Go to Projects
            </button>
        </div>
    </div>
</div>

{% endblock %}