{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<!-- Adding Flash message here -->
      <div class="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="flash flash-{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" required />
        <button type="submit">Login</button>
    </form>
{% endblock %}