{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style%}
<style>
    .person_pic {
border-radius: 50%;
width: 200px;
height: 200px;
}
</style>

{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center"><img class="d-block mx-auto mb-4 person_pic"
                                             src="/static/images/Evan's_picture.jpg" alt="" width="100"
                                             height="100">
    <h1 class="display-5 fw-bold text-body-emphasis">Personal Projects</h1>
    <div class="col-lg-6 mx-auto"><p class="lead mb-4">This is my project portfolio website. It contains some of the projects that I have made through my website development journey. These Projects are a mix of websites and scripts. Please enjoy!!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('projects') }}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="h3q719">Go to Projects
            </button>
        </div>
    </div>
</div>

{% endblock %}